[Desktop Entry]
Name=SlackUpdate
Comment=Slackware system updater
Exec=/usr/local/bin/slackupdate
Icon=/usr/local/share/pixmap/slackupdate.png
GenericName=SlackUpdate
NoDisplay=false
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
Categories=System;Utility;
X-KDE-SubstituteUID=true
X-KDE-Username=root
