[Desktop Entry]
Comment=Slackupdate
Exec=/usr/local/bin/slackupdate
GenericName=SlackUpdate
Icon=/usr/local/share/pixmap/slackupdate.png
Name=SlackUpdate
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=1
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=true
X-KDE-Username=root
